h1{
    font-size: 2rem ;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 50px;
}

.input-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    margin-inline: 50px;
    margin-bottom: 50px;
}

input{
    margin-top: 10px;
    border-radius: 20px;
    padding: 10px;
}

input::before{
    content: "";
    width: 104%;
    height: 102%;
    border-radius: 30px;
    background-image: linear-gradient(
    var(--rotate),
    #5ddcff,
    #3c67e3 43%,
    #4e00c2
    );
    position: absolute;
    z-index: -1;
    animation: spin 2.5s linear infinite;
}
